html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.navbar {
    background-color: #812121;
}

/* fix calendar txt position, make it left
.container-fluid {} */

a {
    color: white;
}
a:hover {
    color: #d9cece;
}
.navbar-nav a:hover {
    color: #f4e9e9;
    background-color: #741b1b;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* edit vertical alignment */

main {
    margin: 1%;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* below */
    position: relative;
    top: 50%;
    margin-top: 50px;
}
.form {
    background-color: rgb(234, 229, 230);
    padding: 20px;
    margin: 5px;
    width: 90%;
    max-width: 580px;
    border-radius: 10px;
}

input[name="RegName"], input[name="psw"], input[name="psw-repeat"], input[name="email"] {
    float: right;
    width: 50%;
}

.registerbtn {
    background-color: #812121;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .registerbtn:hover {
    background-color: #5d1414;
    color: #f4e9e9;
  }