html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.navbar {
    background-color: #812121;
}
.navbar-toggler-icon {
    filter: invert(100%);
}
.navbar-brand{
    padding: 0px 15px 0px 15px;
}

a{
    color: white;
}
a:hover{
    color: #d9cece;
}
.navbar-nav a:hover{
    color: #f4e9e9;
    background-color: #741b1b;
}

main {
    margin: 1%;
    position: relative;
}


.navbar2 {
    background-color: rgb(234, 229, 230);
}